body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #31343F;
  font-size: 20px;
  -webkit-font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

::selection { background: #FFE100; }
::-moz-selection { background: #FFE100; }

h1 {
  font-weight: 800;
  font-size: 3rem;
}

.h1 {
  font-weight: 300;
  font-size: 3rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

h2 {
  font-weight: 800;
  font-size: 2.25rem;
}

p, li {
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: .5rem;
  list-style-type: square;
}

ul {
  margin: 0;
  padding: 0;
}

.strike {
  color: rgba(57,147,221,.25);
  position: relative;
}

.strike:after {
  content: '';
  width: 94px;
  height: 3px;
  background: #3993DD;
  display: block;
  position: absolute;
  top: 50%;
  left: -4px;
  transform: rotate(18deg);
}

footer a {
  color: inherit;
  text-decoration: none;
  transition: all .2s;
}
footer a:hover { color: #3993DD; }

.max-width-2 { max-width: 700px; }
.h5 { line-height: 1.5; }
.h6 { font-weight: 800; }
.py05 { padding-top: .25rem; padding-bottom: .25rem; }
.uppercase { text-transform: uppercase; }
.blue { color: #3993DD; }
.bg-blue { background-color: #3993DD; }
.gray { color: #31343F; }
.bg-gray { background-color: #31343F; }
.white { color: #FFFFFF; }
.bg-white { background-color: #FFFFFF; }
.yellow { color: #FFE100; }
.bg-yellow { background-color: #FFE100; }
.border, .border-top, .border-bottom, .border-left, .border-right { border-color: rgba(57, 62, 65, .1) }
@media (max-width:40em){
  h1 { font-size: 2.5rem; }
  h1 { font-size: 1.75rem; }
  .my4 { margin-top: 5vh; margin-bottom: 5vh; }
  .mt4 { margin-top: 5vh; }
  .mb4 { margin-bottom: 5vh; }
  .pt3 { padding-top: 0; }
  .m-pr4 { padding-right: 1.5rem; }
}